target
**/*.rs.bk
whisper-base.en.bin
/all_souls/**/graph/*
/all_souls/**/vectors/*
all_souls/layka/tts/tts/tts_models--en--vctk--vits/config.json
all_souls/layka/tts/tts/tts_models--en--vctk--vits/model_file.pth
all_souls/layka/tts/tts/tts_models--en--vctk--vits/speaker_ids.json
distilld/dmesg.txt
